/*
 *  Document component
 * --------------------------------------------------*/

// Variables
// -------------------------
// Footer
// -------------------------
$pxl-footer-min-height: 400px;
$pxl-footer-min-height-md: 200px;


// Mixins
// -------------------------

@mixin admin-tabs() {
  //
  // Admin tabs
  nav.tabs {
    width: 100%;

    ul.nav-tabs {
      margin: 20px 0 5px;

      li.nav-item {
        justify-content: end;
        margin-bottom: -1px;
        background: none;

        a.nav-link {
          padding: 5px 10px;
          font-family: $font-family-monospace;
          font-size: 1.2rem;
          border-radius: 0;

          &.active, &:hover {
            border: none;
          }
        }

        &.active, &:hover {
          border: 1px solid $pxl-color-border;
          border-bottom: none;
          background-color: white;
        }
      }
    }
  }
}

@mixin action-links() {
  // action links
  ul.action-links {
    margin: 0;
    li {
      float: right;
      a {
        font-family: $font-family-monospace;
        font-size: 1.2rem;
      }
    }
  }
}

// Rules
// -------------------------
/* Html */
html {
  height: 100%;
  font-size: $global-font-size;
}

/* Body */
body {
  position: relative;
  min-height: 100%;
  // font smoothing
  @include pxl-sharp-fonts;

  //Trennung Manuell mit &shy;
  @include pxl-hyphenate(manual);

  // text font
  @include pxl-font-plain-style();

  *:focus {
    outline: none;
    box-shadow: none;
  }

  // Highlighted region
  .highlighted {
    .messages {
      margin-top: 20px;
    }

  }

  // featured top region
  .featured-top {
    .container, .container-fluid {
      display: flex;

      @include admin-tabs;
    }
  }

  .layout-main-wrapper {
    //
    // keep footer at bottom
    min-height: calc(100vh + #{$pxl-footer-min-height});
    padding-bottom: $pxl-footer-min-height;

    @include media-breakpoint-up(lg) {
      padding-bottom: $pxl-footer-min-height-md;
      min-height: calc(100vh + #{$pxl-footer-min-height-md});
    }

    //
    // Drupal backend specific layout
    .container, .container-fluid {
      //
      // Frames of: Page title, Messages, Admin tabs, Action links and Main content
      .row {
        main.col {
          section {
            .block-system-main-block {
              padding: 0;

              @include action-links;
            }
          }
        }
      }
    }
  } // main-container

  //
  // Footer at bottom
  footer {
    display: flex;
    position: relative;
    align-items: center;
    min-height: $pxl-footer-min-height;
    margin-top: (-1 * $pxl-footer-min-height);

    @include media-breakpoint-up(lg) {
      margin-top: (-1 * $pxl-footer-min-height-md);
      min-height: $pxl-footer-min-height-md;
    }
  }
}
