/*
 *  Social-masonry view component
 * --------------------------------------------------*/

// Variables
// -------------------------
$pxl-form-control-height: 38px;

// Mixins
// -------------------------

@mixin filter-definition {
  padding: 30px 0;

  form {
    margin: 0;
  }

  .views-exposed-form {
    .views-exposed-widgets {
      margin: 0;
      text-align: center;

      .views-exposed-widget {
        display: inline-block;
        vertical-align: top;
        float: none;
        margin: 5px -2px;
        padding: 0;

        >label, >.description {
          display: none;
        }

        .views-widget {
          position: relative;
        }

      }
    }
  }
}


// General settings
// -------------------------
.view.view-social-masonry {
  .view-filters {
    @include filter-definition();
  }

  .view-content {
    @include masonry-three();
  }

  .pager.pager--infinite-scroll {
    margin: 0;

    .pager__item {
    }
  }
}
