/*
 *  Fieldset component
 * --------------------------------------------------*/

// Variables
// -------------------------

// Mixins
// -------------------------
@mixin fieldset() {
  fieldset {
    @include pxl-spacey(mb, s1);
    padding: 0;
    //border: none;
    background: none;

    legend {
      display: inline-block;
      width: auto;
      padding: 0 0 0 $grid-gutter-width/2;
      @include pxl-font-plain-style(form);
      font-weight: normal;

      a {
        @include pxl-link-underline-off;

        span.fieldset-legend-prefix {}
      }

      span.fieldset-legend {}
    }

    .fieldset-wrapper, .panel-body {
      padding: $grid-gutter-width/2;
      background: none;

      // see form element wrapper
    }

    span.summary {}
  }
}

@mixin fieldset-theme($color, $color-hover, $line-color) {
  fieldset {
    &.collapsed {
      border: none;
    }
    border-left: 1px solid $line-color;

    legend {
      a {
        @include pxl-link-underline-off-theme($color, $color-hover, $line-color);
      }
      span.fieldset-legend {
        color: $color;
      }
    }
  }
}
