/*
 *  Paragraph 33-66 structure
 * --------------------------------------------------*/

// Variables
// -------------------------



// Mixins
// -------------------------
@mixin paragraph-33-66() {
  .row {
    .col-md-6, .col-lg-4, .col-lg-8 {
      .field-text-extra.left {
        display: none;
      }

      .field-text-extra.right {
        display: block;
        @include pxl-spacey(mt, s1);
      }

      @include media-breakpoint-up(md) {
        .field-item &.left .field-text-extra {
          display: block;
        }

        .field-item &.right .field-text-extra {
          display: none;
        }

        .field-item &.left.switch {
          left: 50%;
        }

        .field-item &.right.switch {
          right: 50%;
        }
      }

      @include media-breakpoint-up(lg) {
        .field-item &.left.switch {
          left: 66.666666%;
        }

        .field-item &.right.switch {
          right: 33.333333%;
        }
      }
    }
  }
}
